

.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.column  {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.space-btw {
  justify-content: space-between;
}

.p-20 {
  padding: 20px;
}
.p-10 {
  padding: 10px;
}

.grow1 {
  flex: 1;
}

.card {
  overflow: hidden;
  padding: 10px;
  margin: 15px;
  width: 300px;
  border: 1px solid;
}

.card img {
  width: 100%;
}

img {
  border-radius: 50%;
  height: 300px;
}

.box {
  height: 300px;
  width: 300px;
}

.nav {
  padding: 20px;
  background-color: #f3f3f3;
}

.nav a {
  margin-right: 20px;
}

.w300 {
  width: 300px;
}

.product {
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
  margin: 10px;
}

.cartItem {
  padding: 5px;
  margin: 5px;
  justify-content: space-around;
  background-color: lightgoldenrodyellow;
  border: 1px solid;
}

.cartItem img {
  height: 100px;
}

/* responsive */

@media only screen and (min-width: 600px) {
  .d-flex {
    background-color: lightsalmon;
    display: flex;
    width: 500px;
    margin: auto;

  }

}